<% include header.ejs %>
            <div class="row">
                <div class="col-lg-12" style="height:25px">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6667.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6668.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6669.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6670.JPG" width=100%"/>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6671.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6672.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6673.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6674.JPG" width=100%"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6675.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default"  >
                        <img src="/img/IMG_6676.JPG" width=100%"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <img src="/img/IMG_6677.JPG" width=100%"/>
                    </div>
                </div>
            </div>
<% include header.ejs %>