<% include header.ejs %>
            <div class="row">
                <div class="col-lg-12" style="height:25px">
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <ul class="nav nav-tabs" >
                <li class="active" ><a href="#motif1" data-toggle="tab">人群总体motif情况对比图</a>
                </li>
                <li><a href="#motif2" data-toggle="tab">Motif及回旋半径与用户线上行为相关性检验</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active"  id="motif1" >
                    <div class="row">
                        <div class="col-lg-12" style="height:25px">
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <!-- /.panel-heading -->
                                <div class="panel-heading">
                                    <span style="font-weight: bold">motif</span>
                                </div>
                                <div class="panel-body" id="barcharts" style="height: 600px">
                                </div>
                                <center><img src="/img/mot1.png" width="87%" /></center>
                                <div class="panel-footer" style="background-color: #ffffff" >
                            <span >Motif是借用复杂网络中对图模型表示的方法，将用户每天的轨迹转化为抽象的图示，并从中发掘出的用户移动模式。
                                研究表明95%的人群的移动模式可以被以上17种Motif图示所重建，图中展示了海南省本省人群与外省人群中各种Motif的占比情况，
其中外省人群按照停留天数3-5，6-10,11-15又分为三种人群</span>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="tab-pane fade" id="motif2">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" >
                                    <h4 style="font-weight: bold">1、Motif回旋半径和消费信息三维散点图</h4>
                                    <h4 style="font-weight: bold;color: #003399 ">数据集：</h4>
                                    <p style="color:#5C5C5C;">3800人的2-7月的流量，arpu和语音的均值信息
                                        海南8月份全省用户中有稳定家和工作地点，且家工作地点不同的Motif信息
                                        全省用户8月份回旋半径数据
                                        匹配最终得到400人，拥有流量，Arpu，语音均值信息，及当月代表Motif类型和回旋半径信息。（代表Motif表示当月用户移动Motif模式出现次数最多的模式）

                                        散点图如下：</p>
                                    <img src="/img/3darpumotifrs.png" width="70%" /></br>
                                    <p style="color:#5C5C5C;">代表性的Motif因为数据挑选和用户不可能长期保持高移动性的关系，比较局限，3-4种，且每种motif下的Arpu值的分布都较为均匀，没有明显区别。</p>
                                    <img src="/img/3dmotif&arpu.png" width="70%" />
                                    <p style="color:#5C5C5C;">每月用户的代表Motif多数是为1或者2，这个在我们数据总体情况对比中也可以看到，占了很大一部分用户，在图中，Motif为1的arpu值更有可能略高一些，但是因为数据量少的原因不能下这么绝对的定论，其他指标：流量和mou也都呈现出此种现象</p>

                                    <img src="/img/3dmotif&flux.png" width="70%" />
                                    <img src="/img/3dmotifmou&.png" width="70%" />
                                    <p style="color:#5C5C5C;">Motif和回旋半径对比：</p>
                                    <img src="/img/3dradiusmotif.png" width="70%" />
                                    <p style="color:#5C5C5C;">Motif代表为3或者4的数据量过于稀少，可以认为是噪声，不具有参考性，可以看到当月代表Motif为1或者2的用户群的移动性并没有因为Motif模式的不同而在回旋半径分布上产生太大的差异，反而2点Motif的用户群的回旋半径更稳定，这可能与他们的出行模式比较固定有关系</p>

                                    <h4 style="font-weight: bold">2、回旋半径与消费信息对比：</h4>
                                    <h4 style="font-weight: bold;color: #003399 ">数据集：</h4>

                                    <img src="/img/motif1.png" width="70%" />
                                    <img src="/img/motif2.png" width="70%" />
                                    <img src="/img/motif3.png" width="70%" />
                                    <p style="color:#5C5C5C;">3800人的2-7月的流量，arpu和语音的均值信息
                                        全省用户8月份回旋半径数据

                                        从上面的分析看出Motif似乎与回旋半径与线上行为没有太直接的相关性，所以对3800个用户进行了回旋半径的匹配，匹配到3700人，回旋半径分别与arpu,flux,mou三个指标进行了散点图的描述，这里的三个指标均取的是前几个月不为0月份的该指标的均值</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });

        // 使用
        require(
                [
                    'echarts',
                    'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('barcharts'),'macarons');

                    option = {
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        legend: {
                            data:['本省总','外省总','本省周内','本省周末','外省周内','外省周末','外省人3~5天','外省人6~10天','外省人11~15天']
                        },
                        toolbox: {
                            show : true,
                            orient: 'vertical',
                            x: 'right',
                            y: 'center',
                            feature : {
                                dataView : {show: true, readOnly: false},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                name : 'motif ID',
                                type : 'category',
                                data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17']
                            }
                        ],
                        yAxis : [
                            {
                                name : 'p(ID) (比例)',
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'本省总',
                                type:'bar',
                                data:[0.18257191729643527,0.4310133214588948,0.07490535662267203,0.17207073859270322,0.014608530013825557,0.03048442798540026,0.06058661464223757,0.0017308469358401414,0.005328341057477759,0.006009464186170018,0.015750403990587344,3.452600104942068E-4,0.0012088647250666346,2.600817287129319E-4,0.002867264652559001,0.0,2.585661009232295E-4]
                            },
                            {
                                name:'外省总',
                                type:'bar',
                                //stack: '广告',
                                data:[0.5071604890467847,0.36406009506016285,0.010066503392931473,0.09333320426318693,0.0,0.0020134942838058913,0.019815494225724324,0.0,0.0,0.0,0.0035507197274038506,0.0,0.0,0.0,0.0,0.0,0.0]
                            },
                            {
                                name:'本省周内',
                                type:'bar',
                                //stack: '广告',
                                data:[0.16298909369627354,0.44416662674608204,0.07573334114002545,0.18013542836561577,0.015400030871918796,0.03076590746585903,0.06259370248341521,0.0010561212450254517,0.005020678862848839,0.002314063223560597,0.015843149361536784,0.0,0.001171890940511232,0.0,0.0028099655973272725,0.0,0.0]
                            },
                            {
                                name:'本省周末',
                                type:'bar',
                                //stack: '广告',
                                data:[0.22875447099986754,0.4096312545294443,0.07438126816648094,0.15735581755982764,0.013124673685194854,0.030396954654905047,0.057233668674557966,0.0014922814372657352,0.0022754369696166826,0.005179151698395505,0.015820910642343387,0.0,0.0013111036648561878,0.0,0.0030430073172442278,0.0,0.0]
                            },
                            {
                                name:'外省周内',
                                type:'bar',
                                data:[0.5073755569237287,0.36321423606283887,0.008966389280583636,0.09422652976107723,0.0,0.00212773000205226,0.020354445128531046,0.0,0.0,0.0,0.003735112841188192,0.0,0.0,0.0,0.0,0.0,0.0],
                            },
                            {
                                name:'外省周末',
                                type:'bar',
                                //stack: '搜索引擎',
                                data:[0.5092837908269632,0.3683185661338893,0.007781735001158212,0.09139014361825341,0.0,0.0017119817002548066,0.01844814107018763,0.0,0.0,0.0,0.003065641649293491,0.0,0.0,0.0,0.0,0.0,0.0]
                            },
                            {
                                name:'外省人3~5天',
                                type:'bar',
                                //stack: '搜索引擎',
                                data:[0.5046474845351159,0.36598293002494614,0.00936405830144125,0.09405511840166998,0.0,0.0022503349593977393,0.020043279468407716,0.0,0.0,0.0,0.0036567943090213264,0.0,0.0,0.0,0.0,0.0,0.0]
                            },
                            {
                                name:'外省人6~10天',
                                type:'bar',
                                //stack: '搜索引擎',
                                data:[0.4826554814870297,0.3771852295708187,0.008735924899508151,0.10297605672483959,0.0,0.0012683194766933813,0.02302948593114124,0.0,0.0,0.0,0.004149501909969291,0.0,0.0,0.0,0.0,0.0,0.0]
                            },
                            {
                                name:'外省人11~15天',
                                type:'bar',
                                //stack: '搜索引擎',
                                data:[0.5585613525200255,0.33976040263698876,0.007212731268164741,0.07555203090664209,0.0,0.0027557241085985683,0.013836216062947472,0.0,0.0,0.0,0.0023215424966328774,0.0,0.0,0.0,0.0,0.0,0.0]
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
        );
    </script>
<% include footer.ejs %>
