<% include header.ejs %>

<div class="row">
    <div class="row text-center pad-bottom">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <h2 class="head-set"><strong>个性化行程</strong></h2>
            <p>
                摆脱千篇一律的旅程，去尝试遇见新的事物。
            </p>
        </div>
    </div>
</div>
<br>
<br>
<!-- /.panel -->
<h4>选择分类</h4>
<p>
    <button type="button" class="btn btn-outline btn-default " id="p_1" onclick="window.location.href='/personalTravel1'">按行程紧密程度划分</button>
    <button type="button" class="btn btn-outline btn-success active" id="p_3" onclick="window.location.href='/personalTravel2'">按线路模式划分</button>
    <button type="button" class="btn btn-outline btn-primary" id="p_2" onclick="window.location.href='/personalTravel3'">按景点游览程度划分</button>
</p>
<div style="width:1200px;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
<br>
<br>
<!-- panel 1-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 >单目的地模式</h3>
        
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	    
		<div class="row">
			<div class="col-md-6">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_1">
						<figcaption>
							<h5>TOP 1</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_2">
						<figcaption>
							<h5>TOP 2</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_3">
						<figcaption>
							<h5>TOP 3</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_4">
						<figcaption>
							<h5>TOP 4</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_5">
						<figcaption>
							<h5>TOP 5</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
		</div>
	</div>
	<div class="panel-footer">
	<p >行程中只包含一个目的地</p>
	</div>
</div>
<!-- panel 2-->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>往返模式</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	    
		<div class="row">
			<div class="col-md-6">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_1">
						<figcaption>
							<h5>TOP 1</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_2">
						<figcaption>
							<h5>TOP 2</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_3">
						<figcaption>
							<h5>TOP 3</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_4">
						<figcaption>
							<h5>TOP 4</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_5">
						<figcaption>
							<h5>TOP 5</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
		</div>
	</div>
	<div class="panel-footer">
	<p >行程中包含多个目的地，游客依次浏览多个目的地并过夜，最终原路返回，往返路径相同</p>
	</div>
</div>
<!-- panel 3-->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>营区基地模式</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	    
		<div class="row">
			<div class="col-md-6">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_1">
						<figcaption>
							<h5>TOP 1</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_2">
						<figcaption>
							<h5>TOP 2</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_3">
						<figcaption>
							<h5>TOP 3</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_4">
						<figcaption>
							<h5>TOP 4</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_5">
						<figcaption>
							<h5>TOP 5</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
		</div>
	</div>
	<div class="panel-footer">
	<p >以某个目的地为营区基地，游客游览多个目的地，最终返回营区基地住宿</p>
	</div>
</div>
<!-- panel 4-->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>区域环游模式</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	    
		<div class="row">
			<div class="col-md-6">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_1">
						<figcaption>
							<h5>TOP 1</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_2">
						<figcaption>
							<h5>TOP 2</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_3">
						<figcaption>
							<h5>TOP 3</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_4">
						<figcaption>
							<h5>TOP 4</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_5">
						<figcaption>
							<h5>TOP 5</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
		</div>
	</div>
	<div class="panel-footer">
	<p >游客游览多个目的地，首尾目的地相同，中间路径不重复</p>
	</div>
</div>
<!-- panel 5-->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>旅行链模式</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	    
		<div class="row">
			<div class="col-md-6">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_1">
						<figcaption>
							<h5>TOP 1</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_2">
						<figcaption>
							<h5>TOP 2</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_3">
						<figcaption>
							<h5>TOP 3</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			
			<div class="col-md-3">
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_4">
						<figcaption>
							<h5>TOP 4</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
				<h1></h1>
				<div class="grid mask">
					<figure>
						<img class="img-responsive" src="img/album.jpg" alt="top_5">
						<figcaption>
							<h5>TOP 5</h5>
							<a href="#" class="btn btn-primary btn-lg">Take a Look</a>
						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
		</div>
	</div>
	<div class="panel-footer">
	<p >游客游览多个目的地，首尾目的地不同，中间路径不重复</p>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("figure a").click(function(){
        id = $(this).attr("id");
        console.log(id);
        var url = "/routeDetail"; 
        window.location.href = encodeURI(url + "?id=596792658c6fe685d48b1058");
    });

});
</script>

<% include footer.ejs %>