<% include header.ejs %>
                <div class="row">
                    <div class="col-lg-12" style="height:25px">

                    </div>
                    <div class="col-lg-12">
                        <iframe src="http://182.92.86.34:8888/#/notebook/2BVUWXANA" style="height:2200px;width:100%;" frameborder="no" border="0"></iframe>
                        <!-- /.panel -->
                    </div>
                </div>
            <!-- Nav tabs -->

                </div>
                <!-- /.col-lg-12 -->
            </div>
<% include footer.ejs %>
